.circleIconButton_d8df29 .wrapper__3af0b .wrapper__55afe,.activeWrapper__95162 .circleIcon__428dd{
    cursor: none;
    display: none !important;
    color: white;
    background-color: var(--background-primary);
}
